/* client\src\App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  /* font-family: "Lora", serif; */
  /* font-family: "Archivo", sans-serif; */
  /* font-family: "Frank Ruhl Libre", serif; */
}

body {
  background-color: #f4f4f4;
}

.root-display {
  display: flex;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}

.button.disabled {
  background-color: #cccccc;
}

.scroll {
  overflow-y: scroll;
  box-sizing: border-box;
  font-family: 'Nanum Gothic';
}

/* 스크롤바 설정*/
.scroll-css::-webkit-scrollbar {
  width: 20px;
}

/* 스크롤바 막대 설정*/
.scroll-css::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  border: 7px solid #e2d1c7;
}

/* 스크롤바 뒷 배경 설정*/
.scroll-css::-webkit-scrollbar-track {
  background-color: #e2d1c7;
}