/* client\src\components\line_box\LineBarChartlogic\Banner.module.css */

.chart-LineBarContainer {
    padding: 20px;
}

.chart-LineBarTitle {
    display: flex;
}

.custom-tooltip {
    margin: 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    font-size: .9rem;
    font-weight: 500;
}

.custom-tooltip p:nth-child(1) {
    /* color: rgb(136, 132, 216); */
}

.custom-tooltip p:nth-child(2) {
    color: rgb(136, 132, 216);
}

.custom-tooltip p:nth-child(3) {
    color: rgb(130, 202, 157);
}

.custom-tooltip p:nth-child(4) {
    color: rgb(255, 198, 88);
}
