/* client\src\components\tempgraph\tempgraphmodule\Loader.module.css */

.loaderContainer {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressBar {
  width: 100%;
  height: 20px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.progressFill {
  height: 100%;
  background: linear-gradient(90deg, #66a6ff, #89f7fe);
  transition: width 0.2s ease-in-out; /* 부드러운 증가 애니메이션 */
}

.progressText {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  position: absolute; /* 텍스트가 중앙에 고정되도록 설정 */
  width: 100%;
  text-align: center;
}
