/* src/pages/GraphDataPage.module.css */

.graphDataWrap {
  width: 1740px;
  margin: auto;
  padding-top: 30px;
}


.graphDataContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .leftPanel {
    width: 70%;
  }
  
  .rightPanel {
    width: 30%;
  }
  