/* client\src\components\line_box\DWSelector\DwNumberSelector.module.css */


.DwNumberSelectorContainer {
    margin: 100px 0;
}

.DwNumberSelector {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.DwNumberButton {
    width: 10rem;
}

.DwNumberButton {
    width: 8rem;
    font-size: 16px;
    border: 2px solid #263343;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    background: #263343;
    background: linear-gradient(0deg, rgb(99, 81, 60) 0%, rgb(78, 67, 47) 100%);
    border: none;
    color: white;
    cursor: pointer;
}

.DwNumberButton:before {
    height: 0%;
    width: 2px;
}

.DwNumberButton:hover {
    font-weight: 700;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.selectedDwNumberButton {
    font-weight: 700;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5),
                inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    background-color: lightgreen;
}