/* client\src\components\line_box\DWSelector\SelectedDwCharts.module.css */

.filteredData {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.filteredData > p {
    line-height: 500px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}