/* client\src\components\Banner.module.css */

:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bannerWrap {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 60px;
    max-width: 200px;
    height: 500rem;
    background-color: var(--background-color);
}

.bannerHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}

.menuIcon {
    display: none;
}

.menuLabel {
    display: inline-block;
    width: 35px;
    height: 40px;
    position: relative;
    cursor: pointer;
    top: 20px;
    left: 13px;
    z-index: 3;
}


.menuSpan {
    display: block;
    background-color: #fff;
    width: 100%;
    height: 4px;
    position: absolute;
    transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
}


.menuSpanActive {
    background-color: #fff;
}

.menuSpanFirst {
    top: 10%;
}

.menuSpanMiddle {
    top: 50%;
    transform: translateY(-50%);
}

.menuSpanLast {
    bottom: 10%;
}

.menuSpanFirst.menuSpanActive {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.menuSpanLast.menuSpanActive {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.hidden {
    display: none;
}

.bannerContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    transition: width 0.3s ease;
    width: 60px; /* 기본 너비 */
    text-align: center;
}

.sidebarOpen {
    width: 10rem; /* 열렸을 때의 너비 */
}

.banner-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 25px;
    margin-top: 10px;
}

.banner-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: .8rem;
    height: 3rem;
    border-radius: 5px;
    font-size: 20px;
    color: var(--accent-color);
    font-weight: 700;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.banner-menu li:hover {
    background-color: var(--accent-color);
    color: #f0f4f5;
}

.banner-menu li .icon-img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.banner-menu li .text {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebarOpen .banner-menu li {
    /* width: auto; */
    overflow: visible;
}

.sidebarOpen .banner-menu li .text {
    opacity: 1;
}

.banner-menu li button {
    display: flex;
    align-items: center;
    gap: .8rem;
    height: 3rem;
    border: none;
    background: none;
    color: var(--accent-color);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0;
    width: 100%;
    text-align: left;
}

.banner-menu li button:hover {
    background-color: var(--accent-color);
    color: #f0f4f5;
}

.bannerlogoWrap {
    /* height: 3rem; */
}

.bannercheckbox {
    margin: 0;
    padding: 0;
    /* height: 0;
    width: 0; */
}

.banner-logo {
    display: inline-block;
    position: relative;
    cursor: pointer;
    top: 1.5rem;
    left: 1.6rem;
    z-index: 3;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.banner-logo img {
    width: 5rem;
}

.banner-title .icon-img {
    color: #d49466;
}

.banner-title-name {

    font-size: 1rem;
}


.banner-icons {
    margin-top: 25px;
    left: 0;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
}

.banner-icons a {
    color: #d49466;
    font-size: 1.9rem;
}

.banner-icons button {
    background: none;
    border: none;
    cursor: pointer;
    color: #d49466;
    font-size: 1.9rem;
    display: flex;
    align-items: center;
}

.developer-icon {
    width: 3rem;
    filter: drop-shadow(10px 7px 10px #d49466);
    transition: transform 0.3s ease-in-out;
}

.banner-icons a {
    color: #d49466;
    font-size: 1.9rem;
}

.developer-icon:hover {
    transform: scale(1.3);
}
