/* client\src\components\Banner.module.css */

:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.bannerWrap {
    background-color: #263343;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.bannerContainer {
    padding: 0 20px;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

.banner-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title {
    margin-left: 5px;
    color: #f0f4f5;
    font-weight: 700;
    font-size: 1.7rem;
}

.banner-logo img {
    width: 7rem;
    filter: drop-shadow(10px 7px 10px #d49466);
}

.banner-logo div {
    display: inline-block;
}

.banner-menu {
    display: flex;
    border-radius: 5px;
    gap: 25px;
}

.banner-menu li {
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 20px;
    color: var(--accent-color);
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.banner-menu li:hover {
    background-color: var(--accent-color);
    color: #f0f4f5;
}

.banner-icons {
    display: flex;
    color: var(--accent-color);
}

.banner-icons li {
    padding: 8px 12px;
    font-size: 30px;
    display: flex;
}



.developer-icon {
    width: 2.1rem;
    filter: drop-shadow(10px 7px 10px #d49466);
    transition: transform 0.3s ease-in-out;
}

.developer-icon:hover {
    transform: scale(1.3);
}