/* client\src\components\Banner.module.css */

/* :root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.bannerWrap {
    background-color: #263343;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.bannerContainer {
    padding: 0 20px;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

.banner-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title {
    color: #f0f4f5;
    font-weight: 700;
    font-size: 1.7rem;
}

.banner-logo img {
    width: 7rem;
    filter: drop-shadow(10px 7px 10px #d49466);
}

.banner-logo div {
    display: inline-block;
}

.banner-menu {
    display: flex;
    border-radius: 5px;
    gap: 25px;
}

.banner-menu li {
    display: flex;
    gap: 5px;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 20px;
    color: var(--accent-color);
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.banner-menu>li .icon-img {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.banner-menu li:hover {
    background-color: var(--accent-color);
    color: #f0f4f5;
}

.banner-icons {
    display: flex;
    color: var(--accent-color);
    gap: 10px;
}

.banner-icons li {
    font-size: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.developer-icon {
    width: 2.5rem;
    filter: drop-shadow(10px 7px 10px #d49466);
    transition: transform 0.3s ease-in-out;
}

.banner-icons a {
    color: #d49466;
    font-size: 1.9rem;
}

.developer-icon:hover {
    transform: scale(1.3);
} */


/* client\src\components\Banner.module.css */

:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d49466;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bannerWrap {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 60px;
    max-width: 200px;
    height: 500rem;
    background-color: var(--background-color);
}

.menuIcon {
    display: none;
}

.menuLabel {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    top: 20px;
    left: 17px;
    z-index: 3;
}

.menuSpan {
    display: block;
    background-color: #fff;
    width: 100%;
    height: 3px;
    position: absolute;
    transition: background-color 0.35s ease-in-out, transform 0.35s ease-in-out;
}

.menuSpanActive {
    background-color: #fff;
}

.menuSpanFirst {
    top: 10%;
}

.menuSpanMiddle {
    top: 50%;
    transform: translateY(-50%);
}

.menuSpanLast {
    bottom: 10%;
}

.menuSpanFirst.menuSpanActive {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.menuSpanLast.menuSpanActive {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.hidden {
    display: none;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 30px 12px; */
}

.bannerlogoWrap {
    height: 3rem;
}

.banner-logo {
    display: inline-block;
    position: relative;
    cursor: pointer;
    top: 1.3rem;
    left: 1.6rem;
    z-index: 3;
}

.banner-logo img {
    width: 4rem;
}

.banner-menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 10px;
}

.banner-menu li {
    display: flex;
    align-items: center;
    gap: .8rem;
    height: 3rem;
    /* margin-left: .5rem; */
    /* padding: 0 12px; */
    /* justify-content: center; */
    border-radius: 5px;
    font-size: 20px;
    color: var(--accent-color);
    font-weight: 700;
    transition: background-color 0.3s ease;
    overflow: hidden;
    width: 40px;
}

.banner-menu li:hover {
    background-color: var(--accent-color);
    color: #f0f4f5;
}

.banner-menu li .icon-img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.banner-menu li .text {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.banner-title-name {

    font-size: 1rem;
}

.sidebarOpen .banner-menu li {
    width: auto;
    overflow: visible;
}

.sidebarOpen .banner-menu li .text {
    opacity: 1;
}

.banner-icons {
    left: 0;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
}

.banner-icons a {
    color: #d49466;
    font-size: 1.9rem;
}