/* client\src\components\BoxGraph.module.css */

.graphDataContainer {
  display: flex;
  justify-content: flex-start;
}

.leftPanel {
  width: 70%;
}

.rightPanel {
  width: 30%;
}

table {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #a8a8a8;
  border-left: 3px solid #369;
  margin : 20px 10px;
}
table th {
  width: 200px;
  padding: 10px;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
  font-weight: bold;
}
table td {
  width: 150px;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
}