/* client\src\components\BoxGraph.module.css */

.graphDataWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.graphDataTable {
  border: 1px solid #e2d1c7;
  border-radius: 10px;
  background-color: #e2d1c7;
  box-shadow: 4px 4px 6px 0 rgb(189, 175, 167, .5),
    -4px -4px 6px 0 rgb(189, 175, 167, .2)
}

.graphDataSVG {
  border: 1px solid #e2d1c7;
  border-radius: 10px;
  background-color: #e2d1c7;
  box-shadow: 4px 4px 6px 0 rgb(189, 175, 167, .5),
    -4px -4px 6px 0 rgb(189, 175, 167, .2)
}

.leftPanel {
  width: 70%;
}

.rightPanel {
  width: 30%;
}

table {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #a8a8a8;
  border-left: 3px solid #369;
  margin : 20px 10px;
}
table th {
  width: 200px;
  padding: 10px;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
  font-weight: bold;
}
table td {
  width: 150px;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
}