/* FileUploadButton.css - 파일 업로드 버튼 컴포넌트 스타일 */

.fileUpload-btn {
  display: none;
}

.fileUpload {
  width: 200px;
  font-size: 16px;
  border: 2px solid #263343;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  margin: 5px 0;
  background: #263343;
  background: linear-gradient(0deg, rgb(38, 51, 67) 0%, rgb(29, 39, 51) 100%);
  border: none;
  color: white;
}

.fileUpload:before {
  height: 0%;
  width: 2px;
}

.fileUpload:hover {
  font-weight: 700;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


/* .fileUpload {
  border: none;
  color: #000;
}

.fileUpload:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.fileUpload:hover {
  color: #000;
}

.fileUpload:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.fileUpload:active {
  top: 2px;
} */