.lineGrahpWrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.lineChart {
  display: inline-block;
  margin: 10px 0 30px 0;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 4px 4px 6px 0 rgb(189, 175, 167, .5),
    -4px -4px 6px 0 rgb(189, 175, 167, .2);
}

.XAxis {
  color: white;
}

.timeContaier {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.NumberWrap {
  display: flex;
  align-items: center;
}

label {
  display: flex;
}

label p {
  margin-right: 5px;
}

label input {
  margin-right: 5px;

}

.ExWrap {
  display: flex;
  justify-content: center;
  width: 19rem;
  margin: 10px;
  align-items: stretch;
  box-shadow: 4px 4px 6px 0 rgb(189, 175, 167, .5),
  -4px -4px 6px 0 rgb(189, 175, 167, .2)
}

.ExNumber {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700 !important;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e6c8b6;
  border: 1px solid #dee2e6;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.ExInfo {
  width: 70%;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #e4dad4;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.timeInputContainer {
  display: flex;
  align-items: center;
}

.startTimeBox,
.endTimeBox {
  display: flex;
  justify-content: center;
  width: 15rem;
  margin: 10px;
  align-items: stretch;
  box-shadow: 4px 4px 6px 0 rgb(189, 175, 167, .5),
  -4px -4px 6px 0 rgb(189, 175, 167, .2)
}

.startTimeTitle,
.endTimeTitle {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700 !important;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e6c8b6;
  border: 1px solid #dee2e6;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.startTimeInput,
.endTimeInput {
  width: 70%;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #e4dad4;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}