.lineChart {
  margin: 30px 0;
  padding: 10px 0;
  /* border: solid 1px #b9aba2; */
  border-radius: 10px;
  box-shadow: 4px 4px 6px 0 rgb(189, 175, 167, .5),
    -4px -4px 6px 0 rgb(189, 175, 167, .2);
}

.timeContaier {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.NumberWrap {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

label {
  display: flex;
}

label p {
  margin-right: 5px;
}

label input {
  margin-right: 5px;

}

.searchWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px;
  align-items: stretch;
}

.searchText {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700 !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e6c8b6;
  border: 1px solid #dee2e6;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  /* border-radius: 0.375rem; */
}