/* client\src\pages\GraphData.module.css */

.graphDataWrap {
  max-width: 1740px;
  margin: 30px auto;
  padding-bottom: 80px;
}

.headerTitle {
  font-size: 30px;
  margin-bottom: 20px;
}

.graphDataContainer {
  padding: 20px;
  display: grid;
  grid-template-areas:
    'leftPanel rightPanel';
  grid-template-columns:
    65% 25%;
  gap: 20px;
  align-content: start;
  align-items: start;
  justify-content: space-around;
  justify-items: stretch;
}

.leftPanel {
  width: 100%;
  padding: 30px;
  margin-right: 30px;
  border: 1px solid #e2d1c7;
  border-radius: 10px;
  background-color: #e2d1c7;
  box-shadow: 4px 4px 6px 0 rgb(189, 175, 167, .5),
    -4px -4px 6px 0 rgb(189, 175, 167, .2)
}

.rightPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

@media (max-width: 1470px) {

  .graphDataContainer {
    display: grid;
    grid-template-areas:
      'leftPanel rightPanel';
    grid-template-columns:
      65% 25%;
  }

  .leftPanel,
  .rightPanel {
    width: 100%;
  }
}

@media (max-width: 1145px) {

  .graphDataContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .leftPanel,
  .rightPanel {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .graphDataContainer {
    flex-direction: column;
  }

  .leftPanel,
  .rightPanel {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .graphDataWrap {
    padding: 10px;
  }

  .leftPanel,
  .rightPanel {
    padding: 5px;
  }
}