/* client\src\components\line_box\LineBarChartlogic\LineBarChartLogic.module.css */

.selectorContainer {
    /* padding-top: 80px; */
    display: flex;
}

.DwNumberSelectorBox {
    background-color: #263343;
    height: 56rem;
}

.SelectedDwCharts {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 80px;
}



