/* client\src\components\line_box\LineBarChartlogic\LineBarChartLogic.module.css */

.DwNumberSelector {
    background-color: #263343;
    width: 11rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
}


.SelectedDwCharts {
    margin-top: 70px;
    margin-left: 11rem;
    margin-bottom: 80px;
}
